{% extends "base.html" %}
{% block title %}<title>員工眷屬複合資料表修改</title>{% endblock %}
{% block content %}

<h2>員工眷屬複合資料表修改</h2>
<form action="/edit_dependemp/{{unit.id}}/save" method="POST" name="form1">
	{% csrf_token %}
	<table border="1" cellspacing="1" cellpadding="4">
		<tr>
			<th>員工身分證字號</th>
			<td>
				<select id='emp_id' name='emp_id'>
					{% for e in elist %}
						{% if e == unit.emp_id%}
							<option value={{e}} selected> {{e}} </option>
						{% else %}
							<option value={{e}}> {{e}} </option>
						{% endif %}
					{% endfor %}
				</select>	
			</td>
		</tr>

		<tr>
			<th>眷屬身分證字號</th>
			<td>
				<select id='dep_id' name='dep_id'>
					{% for d in dlist %}
						{% if d == unit.dep_id %}
							<option value={{d}} selected> {{d}} </option>
						{% else %}
							<option value={{d}}> {{d}} </option>
						{% endif %}
					{% endfor %}
				</select>	
			</td>				
		</tr>

		<tr>
			<th>關係</th>
			<td><input type="text" id="relation" name="relation" value={{unit.relation}}></td>
		</tr>

		<tr>
			<th>狀態</th> 
			<td>
				{% if unit.status == "正常" %}
					<input name="status" type="radio" id="正常" value="正常" checked="checked" />正常
					<input name="status" type="radio" id="刪除" value="離婚" />離婚
				{% else %}
					<input name="status" type="radio" id="正常" value="正常" />正常
					<input name="status" type="radio" id="刪除" value="離婚" checked="checked" />離婚
				{% endif %}
			</td>		
		</tr>

		<tr>
			<th colspan="2" align="center">
				<input type="submit" name="button" id="button" value="送出">
		</tr>
	</table>
	<span style="color:red">{{message}}</span> </form>
</form>
{% endblock %}